.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  position: fixed;
  background-color: white;
  padding: 36px 28px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  font-family: Arial, sans-serif;
  width: 496px;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  border-width: 1px;
}

.modal__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 40px;
  font-family: "";
  cursor: pointer;
  color: #0000004d;
}

.modal__form-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.modal label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: black;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.modal input[type="text"],
.modal input[type="url"] {
  width: 100%;
  margin-bottom: 15px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid#000000;
  box-sizing: border-box;
  padding: 4px 0;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: black;
}

.modal input[type="text"]:focus,
.modal input[type="url"]:focus {
  padding-left: 4px;
}

.radio-group {
  margin-bottom: 20px;
}

.radio-group__title {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.radio-group div {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.radio-group input[type="radio"]:checked + label {
  margin-right: 8px;
  accent-color: black;
  color: black;
}

.radio-group input[type="radio"]{
    margin-right: 8px;
    accent-color: transparent;
  }

.radio-group label {
  margin-bottom: 0;
  font-size: 14px;
  color: grey;
}

.modal__submit-button {
    margin-top: 32px;
  background-color: #000000;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.modal__submit-button:disabled {
  background-color: #0000004d;
}

.modal__submit-button:hover {
  background-color: #00000099;
}
