.weatherCard {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .weatherCard__image-container {
    position: relative;
    display: flex;
  }
  
  .weatherCard__weather-img {
    display: block; 
  }
  
  .weatherCard__temperature {
    position: absolute;
    color: white;
    top: 20px;
    bottom: 20px;
    left: 16px;
    margin: 0;
    font-family: "Cabinet Grotesk";
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0%;
    vertical-align: middle;
  }
