.main{
    width: 1360px;
    height: 40px; 
    margin: 32px auto 28px;
    padding: 0 10px;
}

.main__title{
    font-family:"Cabinet Grotesk";
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-left: 4px;
}