.card__section {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  width: 325px;
  height: 328px;
  position: relative;
  cursor: pointer;
}

.card__image {
  width: 328px;
  height: 328px;
  border-radius: 10px;
  border: 1px solid #0000004D;
}

.card__name {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Cabinet Grotesk";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  background-color: white;
  color: #00000099;
  padding: 2px 12px;
  border-radius: 4px;
  font-weight: bold;
}
